body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #f7f7f6;
    background: #000000;
    background-image: url(../IMG/f3.jpg);
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
    }


nav {
    display: flex;
    justify-content: center;
    background-color: rgba(59, 82, 160, 0.466);
    border-radius: 2.5rem;
    padding: 1.25rem;
    margin: 1.25rem;
    width: 60%;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(0px) translateZ(0px);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 0.625rem;
}

nav ul li a {
    color: #fff;
    justify-content: center;
    text-decoration: none;
    padding: 0.625rem;
    border-radius: 1.5625rem;
    font-size: 1.0700rem;
    position: relative;
}

.menu_link {
    color: #fff;
    line-height: 1;
}
.menu_link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 1.5px;
    background-color: #fff;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
}
.menu_link:hover::before {
    width: 95%;
}
.menu_link.active:hover::before{
    width: 0;
} 
.menu_link.active {
    background-color: rgba(29, 72, 211, 0.801);
    border-radius: 18px;
}

#inicio {
    text-align: center;
    padding: 3.125rem 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-top: 5rem;
}

#inicio h2 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    line-height: 1.6;
    margin: 0;
    max-width: 56.25rem;
    padding: 0.9375rem;
}

 .social-icons {
    font-size: 1.5625rem;
    margin-top: 0.9375rem;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4375rem;
}

 .social-icons a {
    width: 2.8125rem;
    height: 2.8125rem;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

 .social-icons a:hover {
    background-color: rgba(99, 123, 201, 0.466);
    transform: scale(1.1);
}

 .social-icons img {
    width: 1.5rem;
    height: 1.5rem;
}

#proyectos {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 6.25rem;
}

#proyectos h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
}

.proyecto {
    background-color: rgba(69, 99, 199, 0.466);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    filter: brightness(1.2);
    width: 50%;
    height: 18.625rem;
    padding: 1.25rem;
    margin: 1.875rem auto;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;

}

.proyecto:hover {
    background-color: rgba(64, 96, 201, 0.466);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 60px -15px inset, 
    rgba(0, 0, 0, 0.3) 0px 20px 30px -20px inset;
    transform: scale(1.05);
}

.proyecto h3 {
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
}
.lenguajes-utilizados {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: left; 
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.lenguaje-proyecto {
    background-color: rgb(59, 83, 160);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.lenguaje-proyecto:hover {
    background-color: rgba(99, 123, 201, 0.466);
    transform: scale(1.05);
}
.boton-proyecto {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(59, 82, 160, 0.466);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;

    /* Centrado horizontal absoluto */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.boton-proyecto:hover {
    background-color: rgba(59, 82, 160, 0.7);
}

#lenguajes {
    width: 70%;
    margin: 0 auto;
    padding: 3.125rem 0.0010rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#lenguajes h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 3.375rem;
}

#lenguajes h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
}

#lenguajes ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#lenguajes ul li {
    display: inline-block;
    margin: 0.625rem;
    padding: 1.25rem;
    background-color: rgba(59, 82, 160, 0.466);
    filter: brightness(1.2);
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 1.6;
}

#lenguajes ul li:hover {
    background-color: rgba(99, 123, 201, 0.466);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 60px -15px inset, 
    rgba(0, 0, 0, 0.3) 0px 20px 30px -20px inset;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
/* Lenguajes: Animación de entrada desde el fondo */
.language-item {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.language-item.show {
    opacity: 1;
    transform: translateY(0);
}


/* Media Queries para hacer la página responsive*/ 
@media (min-width: 769px) and (max-width:1024px){
    nav {
        display: flex;
        justify-content: center;
        background-color: rgba(59, 82, 160, 0.466);
        border-radius: 2.5rem;
        padding: 0.75rem;
        margin: 1.25rem;
        width: 70%;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) translateY(0px) translateZ(0px);
        backdrop-filter: blur(8px);
        z-index: 1000;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0.4rem;
    }
    
    nav ul li {
        margin:  0 0.625rem;
    }
    
    nav ul li a {
        color: rgb(255, 255, 255);
        justify-content: center;
        text-decoration: none;
        padding: 0.625rem;
        border-radius: 1.5625rem;
        font-size: 25px;
    }
    #inicio h2 {
        font-size: 35px;
    }

    .social-icons {
        font-size: 2.5625rem;
        margin-top: 0.9375rem;
        margin-bottom: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5375rem;
    }
    
     .social-icons a {
        width: 4.8125rem;
        height: 4.8125rem;
        background-color: rgba(0, 0, 0, 0.26);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, transform 0.3s;
    }
    
     .social-icons a:hover {
        background-color: rgba(99, 123, 201, 0.466);
        transform: scale(1.1);
    }
    
     .social-icons img {
        width: 1.5rem;
        height: 1.5rem;
    }
    .proyecto {
        width: 75%;
        height: 20.625rem;
        padding: 1rem;
    }

    button span::after {
    content: "»";
    }

    #lenguajes {
        width: 100%;
        margin-bottom: 200px;
    }
    #lenguajes ul li {
        display: inline-block;
        width: 110px;
        height: 30px;
        text-align: center;
        padding: 1.25rem;
        margin: 0.625rem;
    }
}
@media (min-width: 481px) and (max-width:768px){
    nav {
        width: 80%;
        left: 50%;
        top: 30px;
        padding: 1rem;
    }

    nav ul li {
        margin: 0 0.4rem;
    }

    #inicio h2 {
        font-size: 1.5rem;
    }
    .social-icons {
        font-size: 1.5625rem;
        margin-top: 0.9375rem;
    }
    .social-icons a {
        width: 3.8125rem;
        height: 3.8125rem; 
    }
    .proyecto {
        width: 75%;
        height: 20.625rem;
        padding: 1rem;
    }
    .proyecto h3{
        font-size: 2rem;
    }
    #lenguajes {
        width: 100%;
    }
    #lenguajes ul li {
        display: inline-block;
        width: 90px;
        height: 25px;
        text-align: center;
        padding: 1.25rem;
        margin: 0.625rem;
    }

}
    @media (min-width: 320px) and (max-width: 480px) {
        nav {
            width: 100%;
            height: 30px;
            border-radius:30px;
            margin: 0;
            padding: 12px 0;
            top: 30px ;
            overflow: hidden;
            left: 50%;
            background-color: rgba(59, 82, 160, 0.466);
            padding: 0.75rem 0;
            align-items: center;
            z-index: 1000;
            backdrop-filter: blur(8px);
        }
    
        nav ul {
            display: flex;
            justify-content: space-between;
            width: 85%;
            padding: 0;
            margin: 0;
            list-style: none;
        }
    
        nav ul li {
            margin: 0;
            flex-grow: 1;
            text-align: center;
        }
    
        nav ul li a {
            color:#ffffff;
            text-decoration: none;
            padding: 1rem 0;
            display: block;
            font-size: 1rem;
            transition: background-color 0.3s, color 0.3s;
        }

        
        nav ul li a.active {
            color: rgb(255, 255, 255);   
            background-color: rgb(11, 31, 99);
            border-radius: 25px;

        }
        #inicio {
            text-align: center;
            padding: 3.125rem 0.625rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 50vh;
        }
        body {
            padding-top: 60px; /* Ajusta este valor según la altura del menú */
        }

    #inicio h2 {
        font-size: 1.25rem;
    }

    .proyecto {
        width: 80%;
        height: 26rem;        
        padding: 0.75rem;
    }
    .proyecto h3{
        font-size: 1.8rem;
    }
    #Contacto .social-icons a {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
    #lenguajes {
        width: 100%;
    }
    #lenguajes ul li {
        display: inline-block;
        width: 90px;
        height: 25px;
        padding: 1rem;
        text-align: center;
        margin: 0.5rem;
    }
    }
